<!DOCTYPE html>
<html ng-app="SourceCodeTree">
  <head>
    <meta name="viewport" content="initial-scale=1">

    <script src="../js/libs.js"></script>
    <script src="../js/popup.js"></script>
    <script src="../js/iscroll/iscroll-lite.js"></script>

    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" />
  </head>

  <body>

    <div ng-controller="SourceTreeController">

      <div class="search">
        <input type="text" ng-model="searchString">
        <span ng-if="activeSearchResult">{{getSearchIndex() + 1}}/{{searchResults.length}}</span>
        <button type="button" ng-click="prevSearchResult()">prev</button>
        <button type="button" ng-click="nextSearchResult()">next</button>
      </div>

      <div class="span5 article-tree">
        <div ng-style="{'overflow': 'auto'}">
          <div class="tree well" ng-show="displayTree">
            <ul>
              <li 
                source-node data="displayTree"
                selectedNode="selectedNode"
                ng-click="nodeClicked($event, displayTree)"
                ng-controller="NodeCtrl"></li>
            </ul>
          </div>
          <div ng-hide="displayTree">
            <div class="spinner"></div>
            <div>Parsing the DOM...</div>
          </div>
        </div>
      </div>

      <div class="details">
        {{selectedNode.html}}
      </div>

    </div>

  </body>
</html>

