<!doctype html>
<html ng-app="SourceCodeTree">
  <head>
    <script src="../js/libs.js"></script>
    <script src="../js/popup.js"></script>

    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" />
  </head>

  <body>

    <div ng-controller="SourceTreeController">
      <div class="span5 article-tree">
        <div ng-style="{'overflow': 'auto'}">

          <div class="tree well" ng-show="displayTree">
            <ul>
              <li ng-repeat="data in displayTree" 
                source-node data="data" format="showNode(data)"
                ng-click="nodeClicked($event, data)"
                ng-controller="NodeCtrl"></li>
            </ul>
          </div>
          <div ng-hide="displayTree">
            <div class="spinner"></div>
            <div>Parsing the DOM...</div>
          </div>
        </div>
      </div>
      <div class="details">
        {{selectedNode.html}}
      </div>
    </div>

  </body>
</html>

